/*반응형 css 기본 세팅*/
/*
 * Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess
 */
/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
 @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 100;
    src: url(./fonts/NotoSansKR-Thin.woff2) format('woff2'),
         url(./fonts/NotoSansKR-Thin.woff) format('woff'),
         url(./fonts/NotoSansKR-Thin.otf) format('opentype');
  }
  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 300;
    src: url(./fonts/NotoSansKR-Light.woff2) format('woff2'),
         url(./fonts/NotoSansKR-Light.woff) format('woff'),
         url(./fonts/NotoSansKR-Light.otf) format('opentype');
  }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 400;
     src: url(./fonts/NotoSansKR-Regular.woff2) format('woff2'),
          url(./fonts/NotoSansKR-Regular.woff) format('woff'),
          url(./fonts/NotoSansKR-Regular.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 500;
     src: url(./fonts/NotoSansKR-Medium.woff2) format('woff2'),
          url(./fonts/NotoSansKR-Medium.woff) format('woff'),
          url(./fonts/NotoSansKR-Medium.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 700;
     src: url(./fonts/NotoSansKR-Bold.woff2) format('woff2'),
          url(./fonts/NotoSansKR-Bold.woff) format('woff'),
          url(./fonts/NotoSansKR-Bold.otf) format('opentype');
   }
  @font-face {
     font-family: 'Noto Sans KR';
     font-style: normal;
     font-weight: 900;
     src: url(./fonts/NotoSansKR-Black.woff2) format('woff2'),
          url(./fonts/NotoSansKR-Black.woff) format('woff'),
          url(./fonts/NotoSansKR-Black.otf) format('opentype');
   }
  
  
  /*container 설정*/
  @media (min-width: 1200px){
      .container {
          width: 1230px;
      }
      .container.container-lg{
          width:1280px;
      }
      .container.container-sm{
          width:1100px;
      }
      .container.container-xs{
          width:1000px;
      }
  }
  
  .row.row-lg{
      margin-left:-30px;
      margin-right:-30px;
  }
  .row.row-lg > .col{
      padding-left:30px;
      padding-right:30px;
  }
  @media(max-width:992px){
      .row.row-lg{
          margin-left:-15px;
          margin-right:-15px;
      }
      .row.row-lg > .col{
          padding-left:15px;
          padding-right:15px;
      }
  }
  
  .row.row-md{
      margin-left:-13px;
      margin-right:-13px;
  }
  .row.row-md > .col{
      padding-left:13px;
      padding-right:13px;
  }
  @media(max-width:992px){
      .row.row-md{
          margin-left:-8px;
          margin-right:-8px;
      }
      .row.row-md > .col{
          padding-left:8px;
          padding-right:8px;
      }
  }
  
  .row.row-sm{
      margin-left:-10px;
      margin-right:-10px;
  }
  
  .row.row-sm > .col{
      padding-left:10px;
      padding-right:10px;
  }
  
  .row.row-xs{
      margin-left:-5px;
      margin-right:-5px;
  }
  
  .row.row-xs > .col{
      padding-left:5px;
      padding-right:5px;
  }
  
  .row.row-none,
  .row-height.row-none{
      margin-left:0px;
      margin-right:0px;
  }
  
  
  
  
  /*기본속성*/
  @media(max-width:768px) {
      .m-none {display:none !important;}
  }
  
  .radius-none {border-radius:0 !important;}
  /*버튼 색상설정*/
  .hover-white{color:#fff !important;}
  .btn.btn-white {
      background-color:#fff;
      border-color:#333;
      color:#333;
  }
  .btn.btn-gray {
      background-color:#333;
      border-color:#333;
      color:#fff;
  }
  
  
  .btn.btn-black {
      background-color:#000;
      border-color:#000;
      color:#fff;
  }
  
  .btn.btn-red {
      background-color:#d50202;
      border-color:#d50202;
      color:#fff;
  }
  
  .btn.btn-orange2 {
      background-color:#ffdc8b;
      border-color:#ffdc8b;
      color:#000;
  }
  
  /*구분 선*/
  
  .line-1p {width:100%; border-top:1px solid #ddd;}
  
  .animate02{
      transition:all 0.2s ease !important;
      -moz-transition:all 0.2s ease !important;
      -webkit-transition:all 0.2s ease !important;
      -o-transition:all 0.2s ease !important;
  }
  .animate03{
      transition:all 0.3s ease !important;
      -moz-transition:all 0.3s ease !important;
      -webkit-transition:all 0.3s ease !important;
      -o-transition:all 0.3s ease !important;
  }
  .animate04{
      transition:all 0.4s ease !important;
      -moz-transition:all 0.4s ease !important;
      -webkit-transition:all 0.4s ease !important;
      -o-transition:all 0.4s ease !important;
  }
  .animate1{
      transition:all 1s ease !important;
      -moz-transition:all 1s ease !important;
      -webkit-transition:all 1s ease !important;
      -o-transition:all 1s ease !important;
  }
  
  
  /* margin */
  .mt0 {margin-top:0px !important;}
  .mt05 {margin-top:5px !important;}
  .mt08 {margin-top:8px !important;}
  .mt10 {margin-top:10px !important;}
  .mt15 {margin-top:15px !important;}
  .mt20 {margin-top:20px !important;}
  .mt25 {margin-top:25px !important;}
  .mt30 {margin-top:30px !important;}
  .mt35 {margin-top:35px !important;}
  .mt40 {margin-top:40px !important;}
  .mt50 {margin-top:50px !important;}
  .mt55 {margin-top:55px !important;}
  .mt60 {margin-top:60px !important;}
  .mt70 {margin-top:70px !important;}
  .mt80 {margin-top:80px !important;}
  
  .mb0 {margin-bottom:0px !important;}
  .mb03 {margin-bottom:3px !important;}
  .mb05 {margin-bottom:5px !important;}
  .mb08 {margin-bottom:8px !important;}
  .mb10 {margin-bottom:10px !important;}
  .mb15 {margin-bottom:15px !important;}
  .mb20 {margin-bottom:20px !important;}
  .mb25 {margin-bottom:25px !important;}
  .mb30 {margin-bottom:30px !important;}
  .mb35 {margin-bottom:35px !important;}
  .mb40 {margin-bottom:40px !important;}
  .mb50 {margin-bottom:50px !important;}
  .mb55 {margin-bottom:55px !important;}
  .mb60 {margin-bottom:60px !important;}
  .mb70 {margin-bottom:70px !important;}
  .mb80 {margin-bottom:80px !important;}
  
  .ml05 {margin-left:5px !important;}
  .ml08 {margin-left:8px !important;}
  .ml10 {margin-left:10px !important;}
  .ml15 {margin-left:15px !important;}
  .ml20 {margin-left:20px !important;}
  .ml25 {margin-left:25px !important;}
  .ml30 {margin-left:30px !important;}
  .ml35 {margin-left:35px !important;}
  .ml40 {margin-left:40px !important;}
  .ml50 {margin-left:50px !important;}
  .ml55 {margin-left:55px !important;}
  .ml60 {margin-left:60px !important;}
  .ml70 {margin-left:70px !important;}
  .ml80 {margin-left:80px !important;}
  
  .mr0 {margin-right:0px !important;}
  .mr05 {margin-right:5px !important;}
  .mr08 {margin-right:8px !important;}
  .mr10 {margin-right:10px !important;}
  .mr15 {margin-right:15px !important;}
  .mr20 {margin-right:20px !important;}
  .mr25 {margin-right:25px !important;}
  .mr30 {margin-right:30px !important;}
  .mr35 {margin-right:35px !important;}
  .mr40 {margin-right:40px !important;}
  .mr50 {margin-right:50px !important;}
  .mr55 {margin-right:55px !important;}
  .mr60 {margin-right:60px !important;}
  .mr80 {margin-right:80px !important;}
  
  
  @media(max-width:1200px){
      /* margin */
  .mt0-md {margin-top:0px !important;}
  .mt05-md {margin-top:5px !important;}
  .mt08-md {margin-top:8px !important;}
  .mt10-md {margin-top:10px !important;}
  .mt15-md {margin-top:15px !important;}
  .mt20-md {margin-top:20px !important;}
  .mt25-md {margin-top:25px !important;}
  .mt30-md {margin-top:30px !important;}
  .mt35-md {margin-top:35px !important;}
  .mt40-md {margin-top:40px !important;}
  .mt50-md {margin-top:50px !important;}
  .mt55-md {margin-top:55px !important;}
  .mt60-md {margin-top:60px !important;}
  .mt80-md {margin-top:80px !important;}
  
  .mb0-md {margin-bottom:0px !important;}
  .mb03-md {margin-bottom:3px !important;}
  .mb05-md {margin-bottom:5px !important;}
  .mb08-md {margin-bottom:8px !important;}
  .mb10-md {margin-bottom:10px !important;}
  .mb15-md {margin-bottom:15px !important;}
  .mb20-md {margin-bottom:20px !important;}
  .mb25-md {margin-bottom:25px !important;}
  .mb30-md {margin-bottom:30px !important;}
  .mb35-md {margin-bottom:35px !important;}
  .mb40-md {margin-bottom:40px !important;}
  .mb50-md {margin-bottom:50px !important;}
  .mb55-md {margin-bottom:55px !important;}
  .mb60-md {margin-bottom:60px !important;}
  .mb80-md {margin-bottom:80px !important;}
  
  .ml0-md {margin-left:0px !important;}
  .ml05-md {margin-left:5px !important;}
  .ml08-md {margin-left:8px !important;}
  .ml10-md {margin-left:10px !important;}
  .ml15-md {margin-left:15px !important;}
  .ml20-md {margin-left:20px !important;}
  .ml25-md {margin-left:25px !important;}
  .ml30-md {margin-left:30px !important;}
  .ml35-md {margin-left:35px !important;}
  .ml40-md {margin-left:40px !important;}
  .ml50-md {margin-left:50px !important;}
  .ml55-md {margin-left:55px !important;}
  .ml60-md {margin-left:60px !important;}
  .ml70-md {margin-left:70px !important;}
  .ml80-md {margin-left:80px !important;}
  
  .mr0-md {margin-right:0px !important;}
  .mr05-md {margin-right:5px !important;}
  .mr08-md {margin-right:8px !important;}
  .mr10-md {margin-right:10px !important;}
  .mr15-md {margin-right:15px !important;}
  .mr20-md {margin-right:20px !important;}
  .mr25-md {margin-right:25px !important;}
  .mr30-md {margin-right:30px !important;}
  .mr35-md {margin-right:35px !important;}
  .mr40-md {margin-right:40px !important;}
  .mr50-md {margin-right:50px !important;}
  .mr55-md {margin-right:55px !important;}
  .mr60-md {margin-right:60px !important;}
  .mr80-md {margin-right:80px !important;}
  }
  
  @media(max-width:992px){
      /* margin */
  .mt0-sm {margin-top:0px !important;}
  .mt05-sm {margin-top:5px !important;}
  .mt08-sm {margin-top:8px !important;}
  .mt10-sm {margin-top:10px !important;}
  .mt15-sm {margin-top:15px !important;}
  .mt20-sm {margin-top:20px !important;}
  .mt25-sm {margin-top:25px !important;}
  .mt30-sm {margin-top:30px !important;}
  .mt35-sm {margin-top:35px !important;}
  .mt40-sm {margin-top:40px !important;}
  .mt50-sm {margin-top:50px !important;}
  .mt55-sm {margin-top:55px !important;}
  .mt60-sm {margin-top:60px !important;}
  .mt80-sm {margin-top:80px !important;}
  
  .mb0-sm {margin-bottom:0px !important;}
  .mb03-sm {margin-bottom:3px !important;}
  .mb05-sm {margin-bottom:5px !important;}
  .mb08-sm {margin-bottom:8px !important;}
  .mb10-sm {margin-bottom:10px !important;}
  .mb15-sm {margin-bottom:15px !important;}
  .mb20-sm {margin-bottom:20px !important;}
  .mb25-sm {margin-bottom:25px !important;}
  .mb30-sm {margin-bottom:30px !important;}
  .mb35-sm {margin-bottom:35px !important;}
  .mb40-sm {margin-bottom:40px !important;}
  .mb50-sm {margin-bottom:50px !important;}
  .mb55-sm {margin-bottom:55px !important;}
  .mb60-sm {margin-bottom:60px !important;}
  .mb80-sm {margin-bottom:80px !important;}
  
  .ml0-sm {margin-left:0px !important;}
  .ml05-sm {margin-left:5px !important;}
  .ml08-sm {margin-left:8px !important;}
  .ml10-sm {margin-left:10px !important;}
  .ml15-sm {margin-left:15px !important;}
  .ml20-sm {margin-left:20px !important;}
  .ml25-sm {margin-left:25px !important;}
  .ml30-sm {margin-left:30px !important;}
  .ml35-sm {margin-left:35px !important;}
  .ml40-sm {margin-left:40px !important;}
  .ml50-sm {margin-left:50px !important;}
  .ml55-sm {margin-left:55px !important;}
  .ml60-sm {margin-left:60px !important;}
  .ml70-sm {margin-left:70px !important;}
  .ml80-sm {margin-left:80px !important;}
  
  .mr0-sm {margin-right:0px !important;}
  .mr05-sm {margin-right:5px !important;}
  .mr08-sm {margin-right:8px !important;}
  .mr10-sm {margin-right:10px !important;}
  .mr15-sm {margin-right:15px !important;}
  .mr20-sm {margin-right:20px !important;}
  .mr25-sm {margin-right:25px !important;}
  .mr30-sm {margin-right:30px !important;}
  .mr35-sm {margin-right:35px !important;}
  .mr40-sm {margin-right:40px !important;}
  .mr50-sm {margin-right:50px !important;}
  .mr55-sm {margin-right:55px !important;}
  .mr60-sm {margin-right:60px !important;}
  .mr80-sm {margin-right:80px !important;}
  }
  @media(max-width:767px){
      /* margin */
  .mt0-xs {margin-top:0px !important;}
  .mt05-xs {margin-top:5px !important;}
  .mt08-xs {margin-top:8px !important;}
  .mt10-xs {margin-top:10px !important;}
  .mt15-xs {margin-top:15px !important;}
  .mt20-xs {margin-top:20px !important;}
  .mt25-xs {margin-top:25px !important;}
  .mt30-xs {margin-top:30px !important;}
  .mt35-xs {margin-top:35px !important;}
  .mt40-xs {margin-top:40px !important;}
  .mt50-xs {margin-top:50px !important;}
  .mt55-xs {margin-top:55px !important;}
  .mt60-xs {margin-top:60px !important;}
  .mt80-xs {margin-top:80px !important;}
  
  .mb0-xs {margin-bottom:0px !important;}
  .mb03-xs {margin-bottom:3px !important;}
  .mb05-xs {margin-bottom:5px !important;}
  .mb08-xs {margin-bottom:8px !important;}
  .mb10-xs {margin-bottom:10px !important;}
  .mb15-xs {margin-bottom:15px !important;}
  .mb20-xs {margin-bottom:20px !important;}
  .mb25-xs {margin-bottom:25px !important;}
  .mb30-xs {margin-bottom:30px !important;}
  .mb30-m {margin-bottom:30px;}
  .mb35-xs {margin-bottom:35px !important;}
  .mb40-xs {margin-bottom:40px !important;}
  .mb50-xs {margin-bottom:50px !important;}
  .mb55-xs {margin-bottom:55px !important;}
  .mb60-xs {margin-bottom:60px !important;}
  .mb80-xs {margin-bottom:80px !important;}
  
  .ml0-xs {margin-left:0px !important;}
  .ml05-xs {margin-left:5px !important;}
  .ml08-xs {margin-left:8px !important;}
  .ml10-xs {margin-left:10px !important;}
  .ml15-xs {margin-left:15px !important;}
  .ml20-xs {margin-left:20px !important;}
  .ml25-xs {margin-left:25px !important;}
  .ml30-xs {margin-left:30px !important;}
  .ml35-xs {margin-left:35px !important;}
  .ml40-xs {margin-left:40px !important;}
  .ml50-xs {margin-left:50px !important;}
  .ml55-xs {margin-left:55px !important;}
  .ml60-xs {margin-left:60px !important;}
  .ml70-xs {margin-left:70px !important;}
  .ml80-xs {margin-left:80px !important;}
  
  .mr0-xs {margin-right:0px !important;}
  .mr05-xs {margin-right:5px !important;}
  .mr08-xs {margin-right:8px !important;}
  .mr10-xs {margin-right:10px !important;}
  .mr15-xs {margin-right:15px !important;}
  .mr20-xs {margin-right:20px !important;}
  .mr25-xs {margin-right:25px !important;}
  .mr30-xs {margin-right:30px !important;}
  .mr35-xs {margin-right:35px !important;}
  .mr40-xs {margin-right:40px !important;}
  .mr50-xs {margin-right:50px !important;}
  .mr55-xs {margin-right:55px !important;}
  .mr60-xs {margin-right:60px !important;}
  .mr80-xs {margin-right:80px !important;}
  }
  
  /* padding */
  .pd-none-all {padding:0 !important;}
  
  .pt0 {padding-top:0px !important;}
  .pt05 {padding-top:5px !important;}
  .pt08 {padding-top:8px !important;}
  .pt10 {padding-top:10px !important;}
  .pt15 {padding-top:15px !important;}
  .pt20 {padding-top:20px !important;}
  .pt25 {padding-top:25px !important;}
  .pt30 {padding-top:30px !important;}
  .pt35 {padding-top:35px !important;}
  .pt40 {padding-top:40px !important;}
  .pt50 {padding-top:50px !important;}
  .pt55 {padding-top:55px !important;}
  .pt60 {padding-top:60px !important;}
  .pt70 {padding-top:70px !important;}
  .pt80 {padding-top:80px !important;}
  
  .pb0 {padding-bottom:0px !important;}
  .pb03 {padding-bottom:3px !important;}
  .pb05 {padding-bottom:5px !important;}
  .pb08 {padding-bottom:8px !important;}
  .pb10 {padding-bottom:10px !important;}
  .pb15 {padding-bottom:15px !important;}
  .pb20 {padding-bottom:20px !important;}
  .pb25 {padding-bottom:25px !important;}
  .pb30 {padding-bottom:30px !important;}
  .pb35 {padding-bottom:35px !important;}
  .pb40 {padding-bottom:40px !important;}
  .pb45 {padding-bottom:45px !important;}
  .pb50 {padding-bottom:50px !important;}
  .pb55 {padding-bottom:55px !important;}
  .pb60 {padding-bottom:60px !important;}
  .pb70 {padding-bottom:70px !important;}
  .pb80 {padding-bottom:80px !important;}
  
  .pl05 {padding-left:5px !important;}
  .pl08 {padding-left:8px !important;}
  .pl10 {padding-left:10px !important;}
  .pl15 {padding-left:15px !important;}
  .pl20 {padding-left:20px !important;}
  .pl25 {padding-left:25px !important;}
  .pl30 {padding-left:30px !important;}
  .pl35 {padding-left:35px !important;}
  .pl40 {padding-left:40px !important;}
  .pl45 {padding-left:45px !important;}
  .pl50 {padding-left:50px !important;}
  .pl55 {padding-left:55px !important;}
  .pl60 {padding-left:60px !important;}
  .pl70 {padding-left:70px !important;}
  .pl80 {padding-left:80px !important;}
  
  .pr0 {padding-right:0px !important;}
  .pr05 {padding-right:5px !important;}
  .pr08 {padding-right:8px !important;}
  .pr10 {padding-right:10px !important;}
  .pr15 {padding-right:15px !important;}
  .pr20 {padding-right:20px !important;}
  .pr25 {padding-right:25px !important;}
  .pr30 {padding-right:30px !important;}
  .pr35 {padding-right:35px !important;}
  .pr40 {padding-right:40px !important;}
  .pr45 {padding-right:45px !important;}
  .pr50 {padding-right:50px !important;}
  .pr55 {padding-right:55px !important;}
  .pr60 {padding-right:60px !important;}
  .pr80 {padding-right:80px !important;}
  
  @media(max-width:1200px){
      /* padding */
      .pt0-md {padding-top:0px !important;}
      .pt05-md {padding-top:5px !important;}
      .pt08-md {padding-top:8px !important;}
      .pt10-md {padding-top:10px !important;}
      .pt15-md {padding-top:15px !important;}
      .pt20-md {padding-top:20px !important;}
      .pt25-md {padding-top:25px !important;}
      .pt30-md {padding-top:30px !important;}
      .pt35-md {padding-top:35px !important;}
      .pt40-md {padding-top:40px !important;}
      .pt50-md {padding-top:50px !important;}
      .pt55-md {padding-top:55px !important;}
      .pt60-md {padding-top:60px !important;}
      .pt70-md {padding-top:70px !important;}
      .pt80-md {padding-top:80px !important;}
  
      .pb0-md {padding-bottom:0px !important;}
      .pb03-md {padding-bottom:3px !important;}
      .pb05-md {padding-bottom:5px !important;}
      .pb08-md {padding-bottom:8px !important;}
      .pb10-md {padding-bottom:10px !important;}
      .pb15-md {padding-bottom:15px !important;}
      .pb20-md {padding-bottom:20px !important;}
      .pb25-md {padding-bottom:25px !important;}
      .pb30-md {padding-bottom:30px !important;}
      .pb35-md {padding-bottom:35px !important;}
      .pb40-md {padding-bottom:40px !important;}
      .pb45-md {padding-bottom:45px !important;}
      .pb50-md {padding-bottom:50px !important;}
      .pb55-md {padding-bottom:55px !important;}
      .pb60-md {padding-bottom:60px !important;}
      .pb70-md {padding-bottom:70px !important;}
      .pb80-md {padding-bottom:80px !important;}
  
      .pl0-md {padding-left:0px !important;}
      .pl05-md {padding-left:5px !important;}
      .pl08-md {padding-left:8px !important;}
      .pl10-md {padding-left:10px !important;}
      .pl15-md {padding-left:15px !important;}
      .pl20-md {padding-left:20px !important;}
      .pl25-md {padding-left:25px !important;}
      .pl30-md {padding-left:30px !important;}
      .pl35-md {padding-left:35px !important;}
      .pl40-md {padding-left:40px !important;}
      .pl45-md {padding-left:45px !important;}
      .pl50-md {padding-left:50px !important;}
      .pl55-md {padding-left:55px !important;}
      .pl60-md {padding-left:60px !important;}
      .pl70-md {padding-left:70px !important;}
      .pl80-md {padding-left:80px !important;}
  
      .pr0-md {padding-right:0px !important;}
      .pr05-md {padding-right:5px !important;}
      .pr08-md {padding-right:8px !important;}
      .pr10-md {padding-right:10px !important;}
      .pr15-md {padding-right:15px !important;}
      .pr20-md {padding-right:20px !important;}
      .pr25-md {padding-right:25px !important;}
      .pr30-md {padding-right:30px !important;}
      .pr35-md {padding-right:35px !important;}
      .pr40-md {padding-right:40px !important;}
      .pr45-md {padding-right:45px !important;}
      .pr50-md {padding-right:50px !important;}
      .pr55-md {padding-right:55px !important;}
      .pr60-md {padding-right:60px !important;}
      .pr80-md {padding-right:80px !important;}
  }
  @media(max-width:992px){
      /* padding */
      .pt0-sm {padding-top:0px !important;}
      .pt05-sm {padding-top:5px !important;}
      .pt08-sm {padding-top:8px !important;}
      .pt10-sm {padding-top:10px !important;}
      .pt15-sm {padding-top:15px !important;}
      .pt20-sm {padding-top:20px !important;}
      .pt25-sm {padding-top:25px !important;}
      .pt30-sm {padding-top:30px !important;}
      .pt35-sm {padding-top:35px !important;}
      .pt40-sm {padding-top:40px !important;}
      .pt50-sm {padding-top:50px !important;}
      .pt55-sm {padding-top:55px !important;}
      .pt60-sm {padding-top:60px !important;}
      .pt70-sm {padding-top:70px !important;}
      .pt80-sm {padding-top:80px !important;}
  
      .pb0-sm {padding-bottom:0px !important;}
      .pb03-sm {padding-bottom:3px !important;}
      .pb05-sm {padding-bottom:5px !important;}
      .pb08-sm {padding-bottom:8px !important;}
      .pb10-sm {padding-bottom:10px !important;}
      .pb15-sm {padding-bottom:15px !important;}
      .pb20-sm {padding-bottom:20px !important;}
      .pb25-sm {padding-bottom:25px !important;}
      .pb30-sm {padding-bottom:30px !important;}
      .pb35-sm {padding-bottom:35px !important;}
      .pb40-sm {padding-bottom:40px !important;}
      .pb45-sm {padding-bottom:45px !important;}
      .pb50-sm {padding-bottom:50px !important;}
      .pb55-sm {padding-bottom:55px !important;}
      .pb60-sm {padding-bottom:60px !important;}
      .pb70-sm {padding-bottom:70px !important;}
      .pb80-sm {padding-bottom:80px !important;}
  
      .pl0-sm {padding-left:0px !important;}
      .pl05-sm {padding-left:5px !important;}
      .pl08-sm {padding-left:8px !important;}
      .pl10-sm {padding-left:10px !important;}
      .pl15-sm {padding-left:15px !important;}
      .pl20-sm {padding-left:20px !important;}
      .pl25-sm {padding-left:25px !important;}
      .pl30-sm {padding-left:30px !important;}
      .pl35-sm {padding-left:35px !important;}
      .pl40-sm {padding-left:40px !important;}
      .pl45-sm {padding-left:45px !important;}
      .pl50-sm {padding-left:50px !important;}
      .pl55-sm {padding-left:55px !important;}
      .pl60-sm {padding-left:60px !important;}
      .pl70-sm {padding-left:70px !important;}
      .pl80-sm {padding-left:80px !important;}
  
      .pr0-sm {padding-right:0px !important;}
      .pr05-sm {padding-right:5px !important;}
      .pr08-sm {padding-right:8px !important;}
      .pr10-sm {padding-right:10px !important;}
      .pr15-sm {padding-right:15px !important;}
      .pr20-sm {padding-right:20px !important;}
      .pr25-sm {padding-right:25px !important;}
      .pr30-sm {padding-right:30px !important;}
      .pr35-sm {padding-right:35px !important;}
      .pr40-sm {padding-right:40px !important;}
      .pr45-sm {padding-right:45px !important;}
      .pr50-sm {padding-right:50px !important;}
      .pr55-sm {padding-right:55px !important;}
      .pr60-sm {padding-right:60px !important;}
      .pr80-sm {padding-right:80px !important;}
  }
  @media(max-width:767px){
      /* padding */
      .pt0-xs {padding-top:0px !important;}
      .pt05-xs {padding-top:5px !important;}
      .pt08-xs {padding-top:8px !important;}
      .pt10-xs {padding-top:10px !important;}
      .pt15-xs {padding-top:15px !important;}
      .pt20-xs {padding-top:20px !important;}
      .pt25-xs {padding-top:25px !important;}
      .pt30-xs {padding-top:30px !important;}
      .pt35-xs {padding-top:35px !important;}
      .pt40-xs {padding-top:40px !important;}
      .pt50-xs {padding-top:50px !important;}
      .pt55-xs {padding-top:55px !important;}
      .pt60-xs {padding-top:60px !important;}
      .pt70-xs {padding-top:70px !important;}
      .pt80-xs {padding-top:80px !important;}
  
      .pb0-xs {padding-bottom:0px !important;}
      .pb03-xs {padding-bottom:3px !important;}
      .pb05-xs {padding-bottom:5px !important;}
      .pb08-xs {padding-bottom:8px !important;}
      .pb10-xs {padding-bottom:10px !important;}
      .pb15-xs {padding-bottom:15px !important;}
      .pb20-xs {padding-bottom:20px !important;}
      .pb25-xs {padding-bottom:25px !important;}
      .pb30-xs {padding-bottom:30px !important;}
      .pb35-xs {padding-bottom:35px !important;}
      .pb40-xs {padding-bottom:40px !important;}
      .pb45-xs {padding-bottom:45px !important;}
      .pb50-xs {padding-bottom:50px !important;}
      .pb55-xs {padding-bottom:55px !important;}
      .pb60-xs {padding-bottom:60px !important;}
      .pb70-xs {padding-bottom:70px !important;}
      .pb80-xs {padding-bottom:80px !important;}
  
      .pl0-xs {padding-left:0px !important;}
      .pl05-xs {padding-left:5px !important;}
      .pl08-xs {padding-left:8px !important;}
      .pl10-xs {padding-left:10px !important;}
      .pl15-xs {padding-left:15px !important;}
      .pl20-xs {padding-left:20px !important;}
      .pl25-xs {padding-left:25px !important;}
      .pl30-xs {padding-left:30px !important;}
      .pl35-xs {padding-left:35px !important;}
      .pl40-xs {padding-left:40px !important;}
      .pl45-xs {padding-left:45px !important;}
      .pl50-xs {padding-left:50px !important;}
      .pl55-xs {padding-left:55px !important;}
      .pl60-xs {padding-left:60px !important;}
      .pl70-xs {padding-left:70px !important;}
      .pl80-xs {padding-left:80px !important;}
  
  
      .pr0-xs {padding-right:0px !important;}
      .pr05-xs {padding-right:5px !important;}
      .pr08-xs {padding-right:8px !important;}
      .pr10-xs {padding-right:10px !important;}
      .pr15-xs {padding-right:15px !important;}
      .pr20-xs {padding-right:20px !important;}
      .pr25-xs {padding-right:25px !important;}
      .pr30-xs {padding-right:30px !important;}
      .pr35-xs {padding-right:35px !important;}
      .pr40-xs {padding-right:40px !important;}
      .pr45-xs {padding-right:45px !important;}
      .pr50-xs {padding-right:50px !important;}
      .pr55-xs {padding-right:55px !important;}
      .pr60-xs {padding-right:60px !important;}
      .pr80-xs {padding-right:80px !important;}
  }
  
  /*가로값*/
  .w10{width:10px !important;}
  .w20{width:20px !important;}
  .w30{width:30px !important;}
  .w40{width:40px !important;}
  .w50{width:50px !important;}
  .w60{width:60px !important;}
  .w70{width:70px !important;}
  .w80{width:80px !important;}
  .w90{width:90px !important;}
  .w100{width:100px !important;}
  .w110{width:110px !important;}
  .w120{width:120px !important;}
  .w130{width:130px !important;}
  .w140{width:140px !important;}
  .w150{width:150px !important;}
  .w160{width:160px !important;}
  .w170{width:170px !important;}
  .w180{width:180px !important;}
  .w190{width:190px !important;}
  .w200{width:200px !important;}
  .w210{width:210px !important;}
  .w220{width:220px !important;}
  .w230{width:230px !important;}
  .w240{width:240px !important;}
  .w250{width:250px !important;}
  .w260{width:260px !important;}
  .w270{width:270px !important;}
  .w280{width:280px !important;}
  .wp100 {width:100%}
  .wp90 {width:90%}
  .wp80 {width:80%}
  .wp70 {width:70%}
  .wp60 {width:60%}
  .wp50 {width:50%}
  .wp40 {width:40%}
  .wp30 {width:30%}
  .wp20 {width:20%}
  .wp10 {width:10%}
  @media(max-width:1200px){
  /*가로값*/
  .w10-md{width:10px !important;}
  .w20-md{width:20px !important;}
  .w30-md{width:30px !important;}
  .w40-md{width:40px !important;}
  .w50-md{width:50px !important;}
  .w60-md{width:60px !important;}
  .w70-md{width:70px !important;}
  .w80-md{width:80px !important;}
  .w90-md{width:90px !important;}
  .w100-md{width:100px !important;}
  .w110-md{width:110px !important;}
  .w120-md{width:120px !important;}
  .w130-md{width:130px !important;}
  .w140-md{width:140px !important;}
  .w150-md{width:150px !important;}
  .w160-md{width:160px !important;}
  .w170-md{width:170px !important;}
  .w180-md{width:180px !important;}
  .w190-md{width:190px !important;}
  .w200-md{width:200px !important;}
  .w210-md{width:210px !important;}
  .w220-md{width:220px !important;}
  .w230-md{width:230px !important;}
  .w240-md{width:240px !important;}
  .w250-md{width:250px !important;}
  .w260-md{width:260px !important;}
  .w270-md{width:270px !important;}
  .w280-md{width:280px !important;}
  
  .wp100-md {width:100%}
  .wp90-md {width:90%}
  .wp80-md {width:80%}
  .wp70-md {width:70%}
  .wp60-md {width:60%}
  .wp50-md {width:50%}
  .wp40-md {width:40%}
  .wp30-md {width:30%}
  .wp20-md {width:20%}
  .wp10-md {width:10%}
  }
  @media(max-width:992px){
  /*가로값*/
  .w10-sm{width:10px !important;}
  .w20-sm{width:20px !important;}
  .w30-sm{width:30px !important;}
  .w40-sm{width:40px !important;}
  .w50-sm{width:50px !important;}
  .w60-sm{width:60px !important;}
  .w70-sm{width:70px !important;}
  .w80-sm{width:80px !important;}
  .w90-sm{width:90px !important;}
  .w100-sm{width:100px !important;}
  .w110-sm{width:110px !important;}
  .w120-sm{width:120px !important;}
  .w130-sm{width:130px !important;}
  .w140-sm{width:140px !important;}
  .w150-sm{width:150px !important;}
  .w160-sm{width:160px !important;}
  .w170-sm{width:170px !important;}
  .w180-sm{width:180px !important;}
  .w190-sm{width:190px !important;}
  .w200-sm{width:200px !important;}
  .w210-sm{width:210px !important;}
  .w220-sm{width:220px !important;}
  .w230-sm{width:230px !important;}
  .w240-sm{width:240px !important;}
  .w250-sm{width:250px !important;}
  .w260-sm{width:260px !important;}
  .w270-sm{width:270px !important;}
  .w280-sm{width:280px !important;}
  
  .wp100-sm {width:100%}
  .wp90-sm {width:90%}
  .wp80-sm {width:80%}
  .wp70-sm {width:70%}
  .wp60-sm {width:60%}
  .wp50-sm {width:50%}
  .wp40-sm {width:40%}
  .wp30-sm {width:30%}
  .wp20-sm {width:20%}
  .wp10-sm {width:10%}
  }
  @media(max-width:767px){
  /*가로값*/
  .w10-xs{width:10px !important;}
  .w20-xs{width:20px !important;}
  .w30-xs{width:30px !important;}
  .w40-xs{width:40px !important;}
  .w50-xs{width:50px !important;}
  .w60-xs{width:60px !important;}
  .w70-xs{width:70px !important;}
  .w80-xs{width:80px !important;}
  .w90-xs{width:90px !important;}
  .w100-xs{width:100px !important;}
  .w110-xs{width:110px !important;}
  .w120-xs{width:120px !important;}
  .w130-xs{width:130px !important;}
  .w140-xs{width:140px !important;}
  .w150-xs{width:150px !important;}
  .w160-xs{width:160px !important;}
  .w170-xs{width:170px !important;}
  .w180-xs{width:180px !important;}
  .w190-xs{width:190px !important;}
  .w200-xs{width:200px !important;}
  .w210-xs{width:210px !important;}
  .w220-xs{width:220px !important;}
  .w230-xs{width:230px !important;}
  .w240-xs{width:240px !important;}
  .w250-xs{width:250px !important;}
  .w260-xs{width:260px !important;}
  .w270-xs{width:270px !important;}
  .w280-xs{width:280px !important;}
  
  .wp100-xs {width:100%}
  .wp90-xs {width:90%}
  .wp80-xs {width:80%}
  .wp70-xs {width:70%}
  .wp60-xs {width:60%}
  .wp50-xs {width:50%}
  .wp40-xs {width:40%}
  .wp30-xs {width:30%}
  .wp20-xs {width:20%}
  .wp10-xs {width:10%}
  }
  
  
  
  .hp100{height:100%;}
  
  
  p.small-font {font-size:16px; font-weight:normal !important; line-height:22px !important;}
  
  /*색상*/
  .Color-White{color:#fff !important;}
  .Color-black{color:#000 !important;}
  .Color-Yellow{color:#FEB123 !important;}
  .Color-Red{color:#bb0000 !important;}
  .Color-Gray{color:#666 !important;}
  
  .grayscale { 
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
  }
  
  .grayscale:hover { 
    -webkit-filter: grayscale(0);
    -moz-filter: grayscale(0);
    -ms-filter: grayscale(0);
    -o-filter: grayscale(0);
    filter: grayscale(0);
    filter: url(grayscale.svg); /* Firefox 4+ */
    filter: gray; /* IE 6-9 */
  }
  
  /*배경색*/
  .bgColor-white {background:#ffffff !important;}
  
  
  .Title-area {
   padding:50px 0;
  }
  
  /**/
  .div-textarea {min-height:250px; overflow-y:scroll;}
  
  /**/
  
    .slideanim1,.slideanim2,.slideanim3,.slideanim4,.slideanim5 {visibility:hidden;}
    .slide-view1,.slide-view2,.slide-view3,.slide-view4,.slide-view5 {
        animation-name: slide-view;
        -webkit-animation-name: slide-view;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        visibility: visible;
    }
    @keyframes slide-view {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20%);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
    @-webkit-keyframes slide-view {
      0% {
        opacity: 0;
        -webkit-transform: translateY(20%);
      }
      100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
      }
    }
  
  
  /*추가 부트스트랩 속성*/
  
  .jumbotron.small {padding:20px !important}
  
  .col-no-pd {padding:0 !important;}
  .col-xs-pl5-none {padding-left:5px !important;}
  @media(max-width:768px) {
  .col-xs-no-pd {padding:0 !important;}
  .col-xs-mb5 {margin-bottom:5px;}
  .col-xs-pl5-none {padding-left:0 !important}
  }
  
  
  /*이미지 반응시 변경 css*/
  
  .img-md-view,.img-sm-view,.img-xs-view {display:none;}
  @media(min-width:993px) {.img-md-view {display:block;} }
  @media(max-width:992px) {.img-sm-view {display:block;}}
  @media(max-width:768px) {.img-xs-view {display:block;}}
  
  /*줄바꿈 셋팅*/
  
  @media(max-width:768px) {br.sm-none {display:none !important;}}
  
  /*dp 테이블*/
  .dp-table{display:table;}
  .dp-table-row{display:table-row;}
  .dp-table-cell{display:table-cell;}
  .vertical-middle{vertical-align:middle;}
  .vertical-top{vertical-align:top;}
  
  @media(max-width:992px){
      .text-center-sm {text-align:center !important;}
  }
  @media(max-width:767px){
      .text-center-xs {text-align:center !important;}
  }
  
  /*멤버*/
  .member-skin-wrap h2 {font-size:30px; margin-bottom:20px;}
  .member-skin-wrap .member-box{
      border:1px solid #ddd;
      border-top:2px solid #000;
      padding-top:40px;
      padding-bottom:40px;
  }
  .member-skin-wrap .login-box{
      border:1px solid #ddd;
      background:#f6f6f6;
      padding:30px;
      margin:30px 30px 10px 30px;
  }
  .member-skin-wrap .join-btn{
      padding:0 30px;
  }
  .member-skin-wrap .join-btn a{
      float:right
  }
  .member-skin-wrap .login-box input[type='submit']{
      background:#000;
      border:1px solid #000;
      color:#fff;
  }
  .member-skin-wrap .join-form-box table {
      border-top:2px solid #000;
      width:100%;
  }
  .member-skin-wrap .join-form-box table th {
      background:#f1f1f1; 
      border-right:1px solid #ddd; 
      border-bottom:1px solid #ddd;
      padding:10px 15px;
  }
  .member-skin-wrap .join-form-box table td{
      border-bottom:1px solid #ddd;
      padding:10px 15px;
  }
  @media(max-width:767px){
      .member-skin-wrap .join-form-box table th {
          background:#fff; 
          border-right:0; 
          border-bottom:0;
          padding:20px 15px 10px 15px;
          display:block;
          width:100%;
      }
      .member-skin-wrap .join-form-box table td{
          border-bottom:1px solid #ddd;
          padding:0px 15px 20px 15px;
          display:block;
          width:100%;
      }
      .member-skin-wrap .login-box{
      padding:20px;
      margin:30px 10px 10px 10px;
  }
  }