html,body,div,li,ul,a,p,input,textarea,dl,dt,dd,label,h1,h2,h3,h4,h5,h6 {font-family:'Noto Sans KR', sans-serif;}

/*폰트 컬러*/
.fcBlue {color:#223778 !important;}
.fcRed {color:#c02126 !important;}
.fcOrange {color:#f78d1b !important;}
.fcBlack {color:#000 !important;}
.fcWhite {color:#fff !important;}
.fcGrayA {color:#aaa !important;}
.fcGray9 {color:#999 !important;}
.fcGray8 {color:#888 !important;}
.fcGray7 {color:#777 !important;}
.fcGray6 {color:#666 !important;}
.fcGray5 {color:#555 !important;}
.fcGray4 {color:#444 !important;}
.fcGray3 {color:#333 !important;}
.fcGray2 {color:#222 !important;}

/*폰트 굵기*/
.fwBold{font-weight:bold !important;}
.fwNormal{font-weight:normal !important;}
.fw300{font-weight:300 !important;}
.fw400{font-weight:400 !important;}
.fw600{font-weight:600 !important;}
.fw700{font-weight:700 !important;}
.fw800{font-weight:800 !important;}


	.fs10{font-size:10px !important;}
	.fs11{font-size:11px !important;}
	.fs12{font-size:12px !important;}
	.fs13{font-size:13px !important;}
	.fs14{font-size:14px !important;}
	.fs15{font-size:15px !important;}
	.fs16{font-size:16px !important;}
	.fs17{font-size:17px !important;}
	.fs18{font-size:18px !important;}
	.fs19{font-size:19px !important;}
	.fs20{font-size:20px !important;}
	.fs22{font-size:22px !important;}
	.fs24{font-size:24px !important;}
	.fs26{font-size:26px !important;}
	.fs28{font-size:28px !important;}
	.fs30{font-size:30px !important;}
	.fs32{font-size:32px !important;}
	.fs34{font-size:34px !important;}
	.fs36{font-size:36px !important;}
	.fs38{font-size:38px !important;}
	.fs40{font-size:40px !important;}
	.fs42{font-size:42px !important;}
	.fs44{font-size:44px !important;}
	.fs46{font-size:46px !important;}
	.fs48{font-size:48px !important;}
	.fs50{font-size:50px !important;}
	.fs52{font-size:52px !important;}
	.fs54{font-size:54px !important;}
	.fs56{font-size:56px !important;}
	.fs58{font-size:58px !important;}
	.fs60{font-size:60px !important;}
	.fs62{font-size:62px !important;}
	.fs80{font-size:80px !important;}

@media(max-width:1200px) {
	.fs10-md{font-size:10px !important;}
	.fs11-md{font-size:11px !important;}
	.fs12-md{font-size:12px !important;}
	.fs13-md{font-size:13px !important;}
	.fs14-md{font-size:14px !important;}
	.fs15-md{font-size:15px !important;}
	.fs16-md{font-size:16px !important;}
	.fs17-md{font-size:17px !important;}
	.fs18-md{font-size:18px !important;}
	.fs19-md{font-size:19px !important;}
	.fs20-md{font-size:20px !important;}
	.fs22-md{font-size:22px !important;}
	.fs24-md{font-size:24px !important;}
	.fs26-md{font-size:26px !important;}
	.fs28-md{font-size:28px !important;}
	.fs30-md{font-size:30px !important;}
	.fs32-md{font-size:32px !important;}
	.fs34-md{font-size:34px !important;}
	.fs36-md{font-size:36px !important;}
	.fs38-md{font-size:38px !important;}
	.fs40-md{font-size:40px !important;}
	.fs42-md{font-size:42px !important;}
	.fs44-md{font-size:44px !important;}
	.fs46-md{font-size:46px !important;}
	.fs48-md{font-size:48px !important;}
	.fs50-md{font-size:50px !important;}
	.fs52-md{font-size:52px !important;}
	.fs54-md{font-size:54px !important;}
	.fs56-md{font-size:56px !important;}
	.fs58-md{font-size:58px !important;}
	.fs60-md{font-size:60px !important;}
	.fs62-md{font-size:62px !important;}
}
@media(max-width:992px) {
	.fs10-sm{font-size:10px !important;}
	.fs11-sm{font-size:11px !important;}
	.fs12-sm{font-size:12px !important;}
	.fs13-sm{font-size:13px !important;}
	.fs14-sm{font-size:14px !important;}
	.fs15-sm{font-size:15px !important;}
	.fs16-sm{font-size:16px !important;}
	.fs17-sm{font-size:17px !important;}
	.fs18-sm{font-size:18px !important;}
	.fs19-sm{font-size:19px !important;}
	.fs20-sm{font-size:20px !important;}
	.fs22-sm{font-size:22px !important;}
	.fs24-sm{font-size:24px !important;}
	.fs26-sm{font-size:26px !important;}
	.fs28-sm{font-size:28px !important;}
	.fs30-sm{font-size:30px !important;}
	.fs32-sm{font-size:32px !important;}
	.fs34-sm{font-size:34px !important;}
	.fs36-sm{font-size:36px !important;}
	.fs38-sm{font-size:38px !important;}
	.fs40-sm{font-size:40px !important;}
	.fs42-sm{font-size:42px !important;}
	.fs44-sm{font-size:44px !important;}
	.fs46-sm{font-size:46px !important;}
	.fs48-sm{font-size:48px !important;}
	.fs50-sm{font-size:50px !important;}
	.fs52-sm{font-size:52px !important;}
	.fs54-sm{font-size:54px !important;}
	.fs56-sm{font-size:56px !important;}
	.fs58-sm{font-size:58px !important;}
	.fs60-sm{font-size:60px !important;}
	.fs62-sm{font-size:62px !important;}
}
@media(max-width:767px) {
	.fs10-xs{font-size:10px !important;}
	.fs11-xs{font-size:11px !important;}
	.fs12-xs{font-size:12px !important;}
	.fs13-xs{font-size:13px !important;}
	.fs14-xs{font-size:14px !important;}
	.fs15-xs{font-size:15px !important;}
	.fs16-xs{font-size:16px !important;}
	.fs17-xs{font-size:17px !important;}
	.fs18-xs{font-size:18px !important;}
	.fs19-xs{font-size:19px !important;}
	.fs20-xs{font-size:20px !important;}
	.fs22-xs{font-size:22px !important;}
	.fs24-xs{font-size:24px !important;}
	.fs26-xs{font-size:26px !important;}
	.fs28-xs{font-size:28px !important;}
	.fs30-xs{font-size:30px !important;}
	.fs32-xs{font-size:32px !important;}
	.fs34-xs{font-size:34px !important;}
	.fs36-xs{font-size:36px !important;}
	.fs38-xs{font-size:38px !important;}
	.fs40-xs{font-size:40px !important;}
	.fs42-xs{font-size:42px !important;}
	.fs44-xs{font-size:44px !important;}
	.fs46-xs{font-size:46px !important;}
	.fs48-xs{font-size:48px !important;}
	.fs50-xs{font-size:50px !important;}
	.fs52-xs{font-size:52px !important;}
	.fs54-xs{font-size:54px !important;}
	.fs56-xs{font-size:56px !important;}
	.fs58-xs{font-size:58px !important;}
	.fs60-xs{font-size:60px !important;}
	.fs62-xs{font-size:62px !important;}
}
@media(max-width:640px) {
	.fs10-xx{font-size:10px !important;}
	.fs11-xx{font-size:11px !important;}
	.fs12-xx{font-size:12px !important;}
	.fs13-xx{font-size:13px !important;}
	.fs14-xx{font-size:14px !important;}
	.fs15-xx{font-size:15px !important;}
	.fs16-xx{font-size:16px !important;}
	.fs17-xx{font-size:17px !important;}
	.fs18-xx{font-size:18px !important;}
	.fs19-xx{font-size:19px !important;}
	.fs20-xx{font-size:20px !important;}
	.fs22-xx{font-size:22px !important;}
	.fs24-xx{font-size:24px !important;}
	.fs26-xx{font-size:26px !important;}
	.fs28-xx{font-size:28px !important;}
	.fs30-xx{font-size:30px !important;}
	.fs32-xx{font-size:32px !important;}
	.fs34-xx{font-size:34px !important;}
	.fs36-xx{font-size:36px !important;}
	.fs38-xx{font-size:38px !important;}
	.fs40-xx{font-size:40px !important;}
	.fs42-xx{font-size:42px !important;}
	.fs44-xx{font-size:44px !important;}
	.fs46-xx{font-size:46px !important;}
	.fs48-xx{font-size:48px !important;}
	.fs50-xx{font-size:50px !important;}
	.fs52-xx{font-size:52px !important;}
	.fs54-xx{font-size:54px !important;}
	.fs56-xx{font-size:56px !important;}
	.fs58-xx{font-size:58px !important;}
	.fs60-xx{font-size:60px !important;}
	.fs62-xx{font-size:62px !important;}
}

/*line height*/
.lineH12{line-height:1.2 !important;}
.lineH13{line-height:1.3 !important;}
.lineH14{line-height:1.4 !important;}
.lineH15{line-height:1.5 !important;}
.lineH16{line-height:1.6 !important;}
.lineH17{line-height:1.7 !important;}
.lineH18{line-height:1.8 !important;}
.lineH19{line-height:1.9 !important;}
.lineH20{line-height:2.0 !important;}
.lineH22{line-height:2.2 !important;}
.lineH24{line-height:2.4 !important;}
.lineH26{line-height:2.6 !important;}
.lineH28{line-height:2.8 !important;}
.lineH30{line-height:3.0 !important;}
.lineH32{line-height:3.2 !important;}
.lineH34{line-height:3.4 !important;}
.lineH36{line-height:3.6 !important;}
.lineH38{line-height:3.8 !important;}
.lineH40{line-height:4.0 !important;}
@media(max-width:992px){
		/*line height*/
	.lineH12-sm{line-height:1.2 !important;}
	.lineH13-sm{line-height:1.3 !important;}
	.lineH14-sm{line-height:1.4 !important;}
	.lineH15-sm{line-height:1.5 !important;}
	.lineH16-sm{line-height:1.6 !important;}
	.lineH17-sm{line-height:1.7 !important;}
	.lineH18-sm{line-height:1.8 !important;}
	.lineH19-sm{line-height:1.9 !important;}
	.lineH20-sm{line-height:2.0 !important;}
	.lineH22-sm{line-height:2.2 !important;}
	.lineH24-sm{line-height:2.4 !important;}
	.lineH26-sm{line-height:2.6 !important;}
	.lineH28-sm{line-height:2.8 !important;}
	.lineH30-sm{line-height:3.0 !important;}
	.lineH32-sm{line-height:3.2 !important;}
	.lineH34-sm{line-height:3.4 !important;}
	.lineH36-sm{line-height:3.6 !important;}
	.lineH38-sm{line-height:3.8 !important;}
	.lineH40-sm{line-height:4.0 !important;}
}