/* 캘린더 게시판 */
#board_calendar {}
#board_calendar .top_moon {position:relative; padding-bottom:10px; font-size:14px;}
#board_calendar .top_moon h4 {font-size:30px; font-weight:bold; text-align:center;width:40%; margin:0 auto; position:relative; color:#000;}
#board_calendar .top_moon h4 a.prev {position:absolute; left:0;}
#board_calendar .top_moon h4 a.next {position:absolute; right:0;}
#board_calendar .top_moon .left_date {position:absolute; left:0;bottom:0;}
#board_calendar .top_moon .right_date {position:absolute; right:0; bottom:0;}

#board_calendar .coun_cal {border-collapse:collapse;background:#ffffff;}
#board_calendar .coun_cal th {
	text-align:center;
	padding:15px 5px;
	border-top:2px solid #ff0000;
	font-weight:300;
}
#board_calendar .coun_cal td {border:1px solid #ccc;font-size:14px; color:#777; text-align:left; min-height:80px;}
#board_calendar .coun_cal td.a3 {color:#005aff}
#board_calendar .coun_cal td.a4 {color:#ff0000}
#board_calendar .cal_res {text-align:center;}
#board_calendar .cal_res .btn_cal_res {display:inline-block; *display:inline; zoom:1; padding:2px 5px 0px 5px; font-size:11px; color:#fff; background:#999;}
.today_cal {background:#fbf3f6; }
.allday_cal {padding:3px 7px 3px 7px; display:inline-block; color:#000;}

.coun_cal2 {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;border-collapse:collapse;background:#ffffff;margin-bottom:30px;}
.coun_cal2 th {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}
.coun_cal2 td {border-top:1px solid #dfdfdf;border-bottom:1px solid #dfdfdf;}

#board_calendar .cal_check h4 {font-size:16px; font-weight:bold; color:#000; text-align:left; margin-top:40px; margin-bottom:20px;}
#board_calendar .cal_check h4 span {float:right; font-size:11px; color:#fe0000; font-weight:300; }
.btn_submit01 {color:#fff; padding:2px 15px; background:#000; border:none;}
.btn_submit02 {color:#fff; padding:2px 15px; background:#000; border:none;}

.day_list{
	padding:5px 6px;
	font-size:13px;
	letter-spacing:-0.03em;
}